.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    padding-bottom: 14rem;
    margin: .8rem;



    background-color: whitesmoke;
}

.orders>h2 {
    font-size: 30px;
    margin: 10px;
    color: gray;
}

.orders_container {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-top: 1rem;
}

.orders_container>.single_order {
    margin-top: 5px;
}

.orders_container>.single_order>.order_info {
    font-size: 19px;
    font-weight: 300;
    color: gray;
}

.orders_container>.single_order>.single_order_details>.single_order_items_container>.order_item {
    max-width: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.orders_container>.single_order>.single_order_details>.single_order_items_container>.order_item>.image_container {
    width: 4rem;
}

.orders_container>.single_order>.single_order_details>.single_order_items_container>.order_item>.image_container>img {
    width: 100%;


}

.orders_container>.single_order>.single_order_details>.single_order_items_container>.order_item>h6 {
    font-size: 16px;
    font-weight: 300;
    color: gray;
    flex: 1;
    margin-left: 4px;
}

.orders_container>.single_order>.single_order_details>.single_order_items_container>.order_item>.status {
    color: rgb(59, 97, 3);
}